#List Structures

In [19]:
lst = [1,2,3,4,5,6,7,8,44,5,"vikram","sony","manji"]

In [20]:
print(type(lst))
print(lst[:3])
print(lst[2:8])
print(lst[::2])
print(lst[:-1])
print(lst[-1])
print(lst[::-1])

<class 'list'>
[1, 2, 3]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 44, 'vikram', 'manji']
[1, 2, 3, 4, 5, 6, 7, 8, 44, 5, 'vikram', 'sony']
manji
['manji', 'sony', 'vikram', 5, 44, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
# remove with position
del lst[2]
lst

[1, 2, 4, 5, 6, 7, 8, 44, 5, 'vikram', 'sony', 'manji']

In [22]:
lst.index("vikram")

9

In [23]:
# remove with item
lst.remove("sony")
lst.remove("vikram")
lst.remove("manji")
lst

[1, 2, 4, 5, 6, 7, 8, 44, 5]

In [24]:
zz =lst.pop(5)

In [25]:
lst

[1, 2, 4, 5, 6, 8, 44, 5]

In [26]:
lst.reverse()
lst

[5, 44, 8, 6, 5, 4, 2, 1]

In [27]:
# only integer
lst.sort()
lst

[1, 2, 4, 5, 5, 6, 8, 44]

In [28]:
lst.insert(5,"vikram")
lst.insert(6,"manji")
lst.insert(7,"sony")
lst

[1, 2, 4, 5, 5, 'vikram', 'manji', 'sony', 6, 8, 44]

In [29]:
lst.clear()
lst

[]

In [30]:
def mutate_string(string, position, character):
    lst = list(string)  # Convert the string to a list of characters
    lst[position] = character  # Replace the character at the specified position
    fin_str = "".join(lst)  # Convert the list back to a string
    return fin_str

result = mutate_string("abracadabra", 5, "k")
print(result)  # Output: "abrackdabra"

abrackdabra